# PyInstaller output
/dist/
/build/

# Logs
*.log
monitor_data/

# Installer output
/installer/*.exe

# Cache
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db

monitor_data/targets.json
monitor_data/telegram_token.sec
monitor_data/telegram_chatid.txt
monitor_data/logs/
